<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">

  <mat-toolbar color="primary">
    <span>Angular Material</span>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
      <mat-sidenav #side mode="side" [opened]="true">
         <mat-tab-group>
          <mat-tab label="Users">
            <mat-nav-list>
              <mat-list-item *ngFor="let user of users">
                <mat-icon svgIcon="avatars:{{user.avatar}}" class="avatar"></mat-icon>
                <span>{{user.name}}</span>
              </mat-list-item>
            </mat-nav-list>
          </mat-tab>
        </mat-tab-group>
      </mat-sidenav>
      <mat-sidenav-content class="content">
        Content
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
